@using Logitar.Resolutions.Constants

<footer class="bg-dark">
  <div class="fluid">
    <a href="/" class="text-light"><img src="/img/logo.jpg" alt="2025 Resolutions Logo" height="32" /></a>
    @(" ")
    <a href="/" class="text-light text-decoration-none">© Francis Pion @(App.Version) @(DateTime.Now.Year).</a>
  </div>
</footer>
