@using Logitar.Resolutions.Constants

@{
  string environment = (Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") ?? "Production").ToLowerInvariant();
}

<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">
      <img src="/img/logo.jpg" alt="@(App.CurrentYear) Resolutions Logo" height="32" /> Résolutions @(App.CurrentYear)
      @if (environment != "production")
      {
        <span class="badge text-bg-warning">@(environment)</span>
      }
    </a>
  </div>
</nav>
