@using Logitar.Resolutions.Constants
@using Logitar.Resolutions.Models.Resolution
@model ResolutionModel[]

@{
  Layout = "_Layout";
}

<main class="container">
  <h1>Résolutions @(App.CurrentYear)</h1>
  <ul>
    @foreach (ResolutionModel resolution in Model)
    {
      <li>@(resolution.Title) (@(resolution.Completion) %)</li>
    }
  </ul>
</main>
