@using Logitar.Resolutions.Constants
@using Logitar.Resolutions.Models.Components
@using Logitar.Resolutions.Models.Resolution
@model ResolutionModel[]

@{
  Layout = "_Layout";
}

<main class="container">
  <h1>Résolutions @(App.CurrentYear)</h1>
  @foreach (ResolutionModel resolution in Model)
  {
    <h2>@(resolution.Title)</h2>
    ProgressBar progressBar = new()
    {
      IsAnimated = resolution.Completion > 0.0 && resolution.Completion < 100.0,
      IsStriped = true,
      Label = resolution.Completion.ToString("0.00 %").Replace('.', ','),
      Value = resolution.Completion,
      Variant = ProgressVariant.Secondary
    };
    @(await Html.PartialAsync("~/Views/Shared/ProgressBar.cshtml", progressBar))
  }
</main>
